
/*Content 

HTML
Header
Body
Main


*/


/*CSS Reset */

* {
    padding: 0;
    margin: 0;
  }

html {
    max-width: auto
}

body {
background-image: url('../Storeres/background.jpg');
background-repeat: no-repeat;

}

a {
    text-decoration: none;
}

/*Header */


header {

    height:auto;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;

}

nav {
    float: right;
    padding-right:10px;
    
}
nav a {
 
    color: white; 
    border: 2px solid rgb(3, 101, 192);
    font-family: 'Lobster';
    font-size: 25px;
    text-align: left;
    padding:10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 900;
    background-color: rgb(3, 101, 192);
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 10px 10px rgba(0,0,0,.5);

    

}   
nav a:hover {
        background-color: rgb(3, 101, 192);
        color: black;
        -webkit-transform: rotate(3deg)

      }



header h1 {
    color:rgb(3, 101, 192);
    font-family: 'Indie Flower';
    padding: 10px 20px;
    font-size: 70px;
    margin-top:10px;
    text-transform: uppercase;
    text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
   text-align: center;
   clear: both;

}

header h1::first-letter {
    font-size: 200%;
    color:black;
    opacity: 0.8;
    letter-spacing: -5px;
  }

header h2 {
    color: black;
    font-family: 'Lobster';
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
   padding-bottom: 30px;
   opacity: 0.8;

}

/*Main */



main img {
    max-width:320px;
    margin-bottom: 10px;
   
}

.fig {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-bottom: 70px;

    text-align: center;
    font-family: 'Lobster';
    background-color: white;
    padding-bottom: 10px;

    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.fig:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    position: relative;
    z-index: 5;
}

.fig:nth-child(even) {
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);

}

.fig:nth-child(even):hover { 
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    position: relative;
    z-index: 5;
    
}


.gallery {
    display: flex;
    max-width: 1200px;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 0 auto;
    padding-top: 50px;
    background-color: white;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 10px 10px rgba(0,0,0,.5);
    -webkit-transform: rotate(3deg)
}

/* The caption selector doesn't work */
.fig caption {
    text-align: center;
    padding: 10px 0;
    font-family: 'Lobster';

}

/* Footer */

footer {
    display: inline-block;
    background-color: black;
    padding: 20px 0px;
    width:100%;
    margin-top: 50px;
    color: white;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 10px 10px rgba(0,0,0,.5);
    margin-bottom: -10px;
    
}

.social {
    max-width: 50px;
    float: right;
    padding-right:20px ;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 10px 10px rgba(0,0,0,.5);
    
}

footer p {
    float: right;
    font-family: 'Lobster';
    padding-right: 20px;
    padding-top:16px;
    font-size: 24px;

}